<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if loggedin? %>
  <h2><%= link_to 'Log out', signout_path, method: :delete %></h2>
<% else %>
  <h2><%= link_to 'Log in', login_path %></h2> 
  <h2><%= link_to 'Sign up', signup_path %></h2>
<% end%>
  
 
    <%= yield %>
  </body>
</html>
